<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="assets/css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
<div class="grid-container usa-prose">
  <!-- Add your site or application content here -->
  <h1 class="text-primary">USWDS Design Token Playground</h1>
  <p>The purpose of this site is to allow designers and developers to quickly experiment with how design tokens can be used to theme components using the built-in theming functionality of the Design System.</p>
  <p>The theme tokens are pulled into the site from <a href="https://airtable.com/shrKuupgOGUeWcUyb/tblwyckknoJMQjlkN" class="usa-link">this Airtable database.</a></p>

  <!-- {% for color in site.data.colors.records %}
  {{color.fields.token}}: {{color.fields.value}};

{% endfor %} -->



{% for component in site.components %}
<h2>{{component.title}}</h2>
{{ component.content | markdownify }}
{% endfor %}

</div>
  <script src="assets/uswds/js/uswds.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
