<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="assets/css/main.css">

</head>

<body class="padding-bottom-9">
<div class="grid-container-widescreen usa-prose">
  <div class="grid-row">
    <div class="grid-col-fill">
      <h1 class="text-primary"><a href="{{site.url}}">USWDS Design Token Playground</a></h1>
      <p>The purpose of this site is to allow designers and developers to quickly experiment with how design tokens can be used to theme components using the built-in theming functionality of the Design System.</p>
      <p>The theme tokens are pulled into the site from <a href="https://airtable.com/shrKuupgOGUeWcUyb/tblwyckknoJMQjlkN" class="usa-link">this Airtable database.</a></p>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-col-2 padding-right-2">
      <nav aria-label="Secondary navigation" class="position-sticky">
        <ul class="usa-sidenav">
          {% for component in site.components %}
          <li class="usa-sidenav__item">
          <a href="#{{ component.title | slugify }}">{{component.title}}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
    <div class="grid-col-fill">
      {% for component in site.components %}
      <h2 id="{{ component.title | slugify }}">{{component.title}}</h2>
      {{ component.content | markdownify }}
      <hr class="margin-bottom-5">
      {% endfor %}
    </div>
  </div>
</div>
  <script src="assets/uswds/js/uswds.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
