<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="assets/css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>

  <!-- Add your site or application content here -->
  <h1 class="text-primary">Hello world!</h1>
  <p class="text-secondary">Nice to meet you.</p>

<p>{% for token in site.data.tokens.records %}

  {{token.fields.name}}: "{{token.fields.value}}";<br>

{% endfor %}</p>

<hr>

<h6>Default</h6>
<button class="usa-button ">Default</button>
<button class="usa-button  usa-button--hover">Hover</button>
<button class="usa-button  usa-button--active">Active</button>
<button class="usa-button  usa-focus">Focus</button>
<button class="usa-button " disabled>Disabled</button><button class="usa-button  usa-button--unstyled">Unstyled button</button>

<h6>Secondary color</h6>
<button class="usa-button usa-button--secondary">Default</button>
<button class="usa-button usa-button--secondary usa-button--hover">Hover</button>
<button class="usa-button usa-button--secondary usa-button--active">Active</button>
<button class="usa-button usa-button--secondary usa-focus">Focus</button>
<button class="usa-button usa-button--secondary" disabled>Disabled</button><button class="usa-button usa-button--secondary usa-button--unstyled">Unstyled button</button>

<h6>Accent cool color</h6>
<button class="usa-button usa-button--accent-cool">Default</button>
<button class="usa-button usa-button--accent-cool usa-button--hover">Hover</button>
<button class="usa-button usa-button--accent-cool usa-button--active">Active</button>
<button class="usa-button usa-button--accent-cool usa-focus">Focus</button>
<button class="usa-button usa-button--accent-cool" disabled>Disabled</button><button class="usa-button usa-button--accent-cool usa-button--unstyled">Unstyled button</button>

<h6>Accent warm color</h6>
<button class="usa-button usa-button--accent-warm">Default</button>
<button class="usa-button usa-button--accent-warm usa-button--hover">Hover</button>
<button class="usa-button usa-button--accent-warm usa-button--active">Active</button>
<button class="usa-button usa-button--accent-warm usa-focus">Focus</button>
<button class="usa-button usa-button--accent-warm" disabled>Disabled</button><button class="usa-button usa-button--accent-warm usa-button--unstyled">Unstyled button</button>

<h6>Base color</h6>
<button class="usa-button usa-button--base">Default</button>
<button class="usa-button usa-button--base usa-button--hover">Hover</button>
<button class="usa-button usa-button--base usa-button--active">Active</button>
<button class="usa-button usa-button--base usa-focus">Focus</button>
<button class="usa-button usa-button--base" disabled>Disabled</button><button class="usa-button usa-button--base usa-button--unstyled">Unstyled button</button>

<h6>Outline</h6>
<button class="usa-button usa-button--outline">Default</button>
<button class="usa-button usa-button--outline usa-button--hover">Hover</button>
<button class="usa-button usa-button--outline usa-button--active">Active</button>
<button class="usa-button usa-button--outline usa-focus">Focus</button>
<button class="usa-button usa-button--outline" disabled>Disabled</button><button class="usa-button usa-button--outline usa-button--unstyled">Unstyled button</button>

<h6>Outline inverse</h6>
<div class="bg-base-darkest padding-1" style="max-width: fit-content">
<button class="usa-button usa-button--outline usa-button--inverse">Default</button>
<button class="usa-button usa-button--outline usa-button--inverse usa-button--hover">Hover</button>
<button class="usa-button usa-button--outline usa-button--inverse usa-button--active">Active</button>
<button class="usa-button usa-button--outline usa-button--inverse usa-focus">Focus</button>
<button class="usa-button usa-button--outline usa-button--inverse" disabled>Disabled</button><button class="usa-button usa-button--outline usa-button--inverse usa-button--unstyled">Unstyled button</button>
</div>

<h6>Big button</h6>
<button class="usa-button usa-button--big">Default</button>
<button class="usa-button usa-button--big usa-button--unstyled">Unstyled button</button>

  <script src="assets/uswds/js/uswds.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
